<dom-module id="my-app-accedi-style">
  <template>
    <style>

        :host {
        font-family: 'Open Sans' !important;
        background-color: rgb(254, 244, 234);
        display: block;
        --paper-toolbar-height: 33px;
        --paper-toolbar-sm-height: 33px;
        --default-primary-color: orange;
        padding: 0px !important;
        --paper-fab-background:white;
        --paper-fab-mini: 
        {
        width:10px;
        height:10px;
        }
      }

      
    

    paper-card{
      padding: 0px !important;
    display: block;
    height: 100%;
    color:gray;
    width: 100%;
    /*overflow-y: scroll;*/
    margin:0px !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12), 0 0px 0px -1px rgba(0, 0, 0, 0.4) !important;
    background-color: #fff;
    }
    paper-dialog.registrati-dati.fit.layout.vertical.center-justified {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      margin: 0;
      /*overflow-y: scroll;*/
      margin-bottom: 0px !important;
    }
    @media only screen and (min-width: 768px) {
      /**Desktop**/
      paper-dialog.registrati-dati.fit.layout.vertical.center-justified {
        padding-top: auto;
        background-color: transparent;
        box-shadow: none;
        position: fixed;
      }
      paper-card {
        width: 500px;
      }
    }
    @media only screen and (min-width: 600px) {
      /**Tablet **/
      paper-dialog.registrati-dati.fit.layout.vertical.center-justified {
        padding-top: auto;
        background-color: transparent;
        box-shadow: none;
        position: fixed;
      }
      paper-card {
        width: 400px;
          height:450px;
      }
    }
    .head{
      background-color: #edefed;
      color:#bbb;
    }
    .facebook-accedi{
		background-color:#3b5998;
	  }
	  .facebook-image{	border:none;
	  }

	.accedi-button{
		background-color:#4ae0ba;
		color:white;
    width:100%;
    height: 80px;
	}
	.border-orange{
   color: orange;
   border: 1px solid orange;
    }
  .actions{
   background-color: white;
   color: gray;
   margin-top: 5px;
   margin-bottom: 5px;
    }
  .card-content{
    padding: 16px;
    position: relative;
  }
  .card-actions{
    border-top: 1px solid #e8e8e8;
    padding: 5px 16px;
    position: relative;
  }
  .navbar {
  background-color: rgb(254, 244, 234);
  color: gray;
  }
 paper-button { text-transform: none; } 
</style>
</template>
</dom-module>
