<dom-module id="my-app-home-style">
  <template>
    <style>
      :host {
        font-family: 'Open Sans' !important;
        background-color: rgb(254, 244, 234);
        display: block;
        --paper-toolbar-height: 33px;
        --paper-toolbar-sm-height: 33px;
        --default-primary-color: orange;
      }


      my-app-registrati {
        padding: 0px !important;
      }

      my-app-registrazione-dati {
        padding: 0px !important;
      }

      my-app-registrazione-dati-lavoratore {
        padding: 0px !important;
      }

      my-app-registrazione-dati-utente {
        padding: 0px !important;
      }

      my-app-accedi {
        padding: 0px !important;
      }

      paper-dialog {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
      }

      @media only screen and (max-height:500px) {
        paper-dialog {
          overflow-y: scroll;
          margin-bottom: 0px !important;
        }
      }

      @media only screen and (min-width: 600px) {
        /**Tablet **/
        .desktop {
          visibility: visible;
        }
        .mobile {
          display: none;
          visibility: hidden;
        }
        my-app-registrati {
          padding: 0px;
        }
        my-app-accedi {
          padding: 0px;
        }

      }

      @media only screen and (min-width: 768px) {
        /**Desktop**/
        .desktop {
          visibility: visible;
        }
        .mobile {
          display: none;
          visibility: hidden;
        }

        my-app-registrati {
          padding: 0px;
        }
        my-app-accedi {
          padding: 0px;
        }
        
      }

      a {
        color: gray;
        text-decoration: none;
      }

      paper-button {
        text-transform: none;
      }

      #example-sizing-cover {
        width: 150px;
        height: 150px;
      }

      .container {
        @apply(--layout-horizontal);
        @apply(--layout-justified);
      }

      .child2 {
        @apply(--layout-self-center);
      }

      .navbar {
        background-color: rgb(254, 244, 234);
        color: gray;
      }

      app-drawer {
        --app-drawer-scrim-background: rgb(254, 244, 234);
        --app-drawer-content-container: {
          background-color: rgb(254, 244, 234);
        }
        ;
      }

      app-drawer-layout {
        background-color: rgb(254, 244, 234);
      }

      paper-tab[link] a {
        /*color: #fff;
    /* These mixins (from iron-flex-layout) center the link text. */
        @apply(--layout-horizontal);
        @apply(--layout-center-center);
        text-decoration: none;
        
      }
      /* --paper-input-container-focus-color per i colori

  */
    </style>
  </template>
</dom-module>
