<dom-module id="my-app-registrazione-style">
  <template>
    <style>

    .border-blue{
      border: 1px solid blue;
    }
    .facebook-logo{
		box-shadow:0px !important;
	}
    .actions{
      background-color: white;
      color: gray;
    }
	.trasparent{
		background-color:transparent;
	}
	.date_nascita{
	}
    @media only screen and (min-width: 600px) {
    /* For tablets: */
    paper-card{


    width:400px;
    }
    }

    @media only screen and (min-width: 768px) {
    /* For desktop: */
    paper-card{


    width:500px;
    }

    }
	.material-icons.md-18 { font-size: 18px; }
	.material-icons.md-24 { font-size: 24px !important; }
	.material-icons.md-36 { font-size: 36px !important; }
	.material-icons.md-48 { font-size: 48px !important; }

	.facebook-button {
	  background-color: #4267b2;
	  border-color: #4267b2;
	  width:100%;
	  color:white;
      height:40px;
	  font-weight:bold;
      margin-bottom:50px;
      font-size:20px;
	}
	.accedi-button{
		background-color:#4ae0ba;
		color:white;
		font-weight:bold;
		float:clear;
		width:100%;
		height:70px;
		margin-top:50px;
		margin-bottom:30px;
		font-size:20px;
	}


	.border-brown{
      color: #f5d16e;
      border-color: 1px solid brown;
    }
    .actions{
      background-color: white;
      color: gray;

      margin-top: 5px;
      margin-bottom: 5px;
    }
    :host0{
      --paper-fab-background:white;
      --paper-fab-mini: {
        width:10px;
        height:10px;
      }
    }

    hr{
      border: 1px solid #e8e8e8;
    }
</style>
</template>
</dom-module>
