<dom-module id="my-app-microgui-script">
  <template>
  </template>
</dom-module>
<script type="text/javascript">

  sel_micro_p_type = PACKET_TYPE_STANDARD;

  sel_gui_ref = 0;
  /**
   * Packet type gui
   */
  function microSGuiGetStringFromType(packet_type) {
    if (sel_micro_p_type == PACKET_TYPE_STANDARD) {
      return "standard";
    }
    if (sel_micro_p_type == PACKET_TYPE_MEDIUM) {
      return "medium";
    }
    if (sel_micro_p_type == PACKET_TYPE_PREMIUM) {
      return "premium";
    }
  }
  /**
  * Init the gui with data.
  *
  */
  function microSGuiInit(gui_obj, packet_type) {

    // init.
    sel_gui_ref = gui_obj;
    sel_micro_p_type = packet_type;

    microSguiUpdate();
  }
  /**
  * Micro update gui.
  */
  function microSguiUpdate(){
    if (microSGuiButtonShow()){
      microSGuiMicroButtonFrom(0,getMicroUserSize(), BUTTON_STATE_ENABLED);
      microSGuiMicroButtonFrom(getMicroUserSize(),MAX_MICRO, BUTTON_STATE_DISABLE);
    }
  }

  function microSGuiMicroButtonFrom(ss, se, state) {
    for (i = ss; i < se; i++) {
      microSGuiMicroButton(i, state);
    }
  }

  function microSGuiMicroButton(i, state){
    if (state == BUTTON_STATE_ENABLED){
      // TODO add color and enable button ( the color depends on the packet type)
      microSGuiApplyColor($("#selmicro" + i));
      //$("#selmicro" + i).removeAttr("disabled");
    }
    if (state == BUTTON_STATE_DISABLE){
      // TODO disabled button
      microSGuiApplyDefaultColor($("#selmicro" + i));
      //$("#selmicro" + i).attr("disabled", "true");
    }
  }

  /**
   *  apply style of button disabled.
   */
  function microSGuiApplyDefaultColor(gui_obj) {
    gui_obj.removeClass("sel_standard");
    gui_obj.removeClass("sel_medium");
    gui_obj.removeClass("sel_premium");
    gui_obj.addClass("sel_button_disabled");
  }
  /**
   *  apply style of button
   */
  function microSGuiApplyColor(gui_obj) {
    gui_obj.removeClass("sel_standard");
    gui_obj.removeClass("sel_medium");
    gui_obj.removeClass("sel_premium");
    gui_obj.removeClass("sel_button_disabled");

    if (sel_micro_p_type == PACKET_TYPE_STANDARD) {
      gui_obj.addClass("sel_standard");
    }
    if (sel_micro_p_type == PACKET_TYPE_MEDIUM) {
      gui_obj.addClass("sel_medium");
    }
    if (sel_micro_p_type == PACKET_TYPE_PREMIUM) {
      gui_obj.addClass("sel_premium");
    }
  }

  function microSGuiButtonShow(){
    // show the right button.
    if (getMicroUserSize() == 0){
      $(sel_gui_ref.$.noMicroCategory).css("display","flex");
      $(sel_gui_ref.$.containerSelMicroCategory).css("display","none");
      return false;
    }else{
      $(sel_gui_ref.$.noMicroCategory).css("display","none");
      $(sel_gui_ref.$.containerSelMicroCategory).css("display","block");
      return true;
    }
  }
</script>
