<dom-module id="my-app-global-style">
  <template>
    <style>
      :host{
        --paper-input-container-focus-color:#1de9b6;
        paper-spinner.multi {
          --paper-spinner-layer-1-color: rgb(0,225,187);
          --paper-spinner-layer-2-color: orange;
          --paper-spinner-layer-3-color: #4ae0ba;
          --paper-spinner-layer-4-color: #bdbdbd;
        }
      }

      .child2 {
        @apply(--layout-self-center);
      }

      @media only screen and (max-width: 500px) {
        .fit-paperalert{
          width: 100% !important;
          min-width: 0 !important;
          border-radius: 0 !important ;
          margin: 0 !important;
        }
      }
      .header{
        --paper-toolbar-height: 70px;
        --paper-toolbar-sm-height: 60px;
      }
      .procedure_title{
        display: block;
        margin-left: 0 ;
        margin-right: 0 ;
        font-weight: bold ;
      }
      @media only screen and (max-width: 600px) {
        .procedure_title{
          font-size: 1.5em ;
          margin-top: 0.83em ;
          margin-bottom: 0.83em ;
        }
      }
      @media only screen and (min-width: 600px) {
        .procedure_title{
          font-size: 2em ;
          margin-top: 0.67em ;
          margin-bottom: 0.67em ;
        }
      }

      paper-button.jump_button {
        color:#89e4d2 !important;
        border: 2px solid #89e4d2;
        width:80px;
        height:30px;
        font-family: 'Open Sans', sans-serif !important;

      }



      #content_tooltip{
        position: relative;
        top: -3px;
      }
      paper-button.jump_button {
        color:#89e4d2 !important;
        border: 2px solid #89e4d2;
        width:80px;
        height:30px;
        font-family: 'Open Sans', sans-serif !important;
        font-weight:bold;
      }

      paper-button.jump_button:hover {
        font-weight:bold;
      }
    </style>
</template>

</dom-module>
