<dom-module id="my-app-micro-style">
  <template>
    <style>
      :host {
        --paper-input-container-input: {
          max-height: 60px;
        }
      }

      .standard {
        background-color: #ffd028;
      }

      .medium {
        background-color: #ffac1f;
      }

      .premium {
        background-color: #ff7713;
      }

      .button_selected {
        background-color: #919191;
      }

      #microcontainer {
        width: 100%;
        display: inline-block;
      }

      #microTitle {
        text-align: center;
        padding: 15px;
        color: white;
      }
      /**
      Avoid upper case paper-button

      */

      paper-button.micro_standard[active] {
        background-color: #ffd028;
        color: white;
      }

      paper-button.micro_medium[active] {
        background-color: #ffac1f;
        color: white;
      }

      paper-button.micro_premium[active] {
        background-color: #ff7713;
        color: white;
      }

      paper-button.microButton {
        text-transform: none;
        margin: 0px;
        height: 50px;
        color: white;
        width: 25%;
        font-weight: bold;
      }

      .micro_selected {
        background-color: #dddddd;
        color: white;
      }

      paper-button {
        text-transform: none;
      }

      paper-button-group.microlist {
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
      }

      paper-button.bmdisabled {
        background-color: #dedede;
        color: white !important;
      }

      paper-button.button_specific_micro {
        color: #999999;
        margin-right: 10px;
      }

      paper-textarea.choosedesc {
        padding: 10px;
        margin-top: 5px;
        height: 90px;
        padding-bottom: 0px;
        padding-top: 0px;
      }

      paper-button {
        border-radius: 0px !important
      }

      paper-input.choosecat {
        padding: 10px;
        --paper-input-container-disabled: {
          opacity: 1 !important;
          -khtml-opacity: 1 !important;
          color: black;
        }
        --paper-input-container-underline-disabled: {
          border-bottom: 1px solid #dddddd !important;
        }
      }

      .choosedesc {
        --paper-input-container-underline: {
          border-bottom: 1px solid #dddddd;
        }
      }

      #micronext {
        margin-right: 10px !important;
      }

      #microprev {
        margin-left: 10px !important;
      }

      paper-icon-button.standard_icon_prev::shadow #icon {
        background-color: #ffd028;
        border-radius: 50%;
        color: white;
      }

      paper-icon-button.standard_icon_next::shadow #icon {
        background-color: #ffd028;
        border-radius: 50%;
        color: white;
      }

      paper-icon-button.medium_icon_prev::shadow #icon {
        background-color: #ffac1f;
        border-radius: 50%;
        color: white;
      }

      paper-icon-button.medium_icon_next::shadow #icon {
        background-color: #ffac1f;
        border-radius: 50%;
        color: white;
      }

      paper-icon-button.premium_icon_prev::shadow #icon {
        background-color: #ff7713;
        border-radius: 50%;
        color: white;
      }

      paper-icon-button.premium_icon_next::shadow #icon {
        background-color: #ff7713;
        border-radius: 50%;
        color: white;
      }

      paper-icon-button {
        width: 50px;
        height: 50px;
      }

      .jump_button {
        position: relative;
        top: 11px;
        width: 125px !important;
      }

      .microlist {}



      .close_mobile_top {
        position: absolute;
        z-index: 5;
        right: 5px;
        color: #dddddd;
      }

      @media only screen and (min-width: 768px) {
        .close_mobile_top {
          display: none;
        }


      }

      .flex-equal-around-justified {
          @apply(--layout-horizontal);
          @apply(--layout-around-justified);
      }

      #microcontainer{
        overflow:auto;
        height:auto;
      }
      .scrollable {
         position:inherit;
      }
    </style>
  </template>

</dom-module>
