<dom-module id="my-app-calendar-style">
  <template>
    <style>
      .flex-horizontal {
        @apply(--layout-horizontal);
      }

      .flexchild {
        @apply(--layout-flex);
      }
      .CalHead {
        padding:10px;

      }
      .calHeadText{
        color:white;
      }
      .CalDaysLabel{
        font-size: 1.8em;
        padding: 5px;
      }
      .CalFinish{
        font-size: 1.3em;
        font-size: 1.19em;
        padding: 8px;
        width: 100px;
        border: 2px solid white;
        text-transform:none !important;
        font-weight:600;
        border-radius:0px;
      }

      .days{
        color: #999999;
         font-weight: 600;
         padding-top: 22px;
         padding-left:10px;
         padding-right:10px;
         padding-bottom: 10px;
         font-size: 1.15em;
      }
      .day{
        margin-left: 8px;
        margin-right: 8px;
        cursor:pointer;
        -webkit-touch-callout: none; /* iOS Safari */
         -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
             -ms-user-select: none; /* Internet Explorer/Edge */
                 user-select: none; /* Non-prefixed version, currently
                                       supported by Chrome and Opera */
      }
      .flex {
        @apply(--layout-horizontal);
      }
      @media only screen and (max-width: 350px) {

        .days{
          color: #999999;
           font-weight: 600;
           padding-top: 22px;

           padding-left:0px;
           padding-right:0px;
           padding-bottom: 10px;
           font-size: 1em;
        }

      }
      @media only screen and (max-width: 768px) {

        .addtime{
          margin-top:3px;
          margin-bottom:2px;

        }
      }
      .headSeparator{
        height:5px;
        background-color:#dddddd;
        border:0px;
      }
      .dayactive{

      }
      .daysstandard{
        color:#ffd028;
      }
      .daysmedium{
        color:#ffac1f;
      }
      .dayspremium{
        color:#ff7713;
      }

      .daysstandardselected {
        // color:#ffd028;
        border-bottom: 1px solid #ffd028;
      }

      .daysmediumselected{
        //color:#ffac1f;
        border-bottom: 1px solid #ffac1f;
      }
      .dayspremiumselected{
        //color:#ff7713;
        border-bottom: 3px solid #ff7713;
      }
      .selectday{
        padding-top:5px;
        padding-left:15px;
        padding-bottom:15px;
        padding-right:15px;

      }
      paper-checkbox{

        --paper-checkbox-unchecked-background-color: trasparent;
        --paper-checkbox-unchecked-color:#4ae0ba;
        --paper-checkbox-checked-color:#4ae0ba;
        --paper-checkbox-checkmark-color:#4ae0ba;
        --paper-checkbox-label-color:#999999;
        --paper-checkbox-label-checked-color: #999999;
        --paper-checkbox-label-spacing:12px;
          margin-left:20px;
        --paper-checkbox-label:{
          font-weight:600;
          font-size:16px;

        }
        --paper-checkbox-label-checked:{
          font-weight:600;
          font-size:16px;
        }
        --paper-checkbox-size:18px;

      }
      /*
      * Padding
      */
      .allday{
        padding-bottom:15px;
      }
      /*
      Padding from the border
      */
      #timeContainer{
        overflow-y: auto;
        height:180px;
        padding-left:20px;

      }
      .flex-end-justified {
        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
      }

      :host{
        --paper-input-container-disabled: {
          opacity: 1 !important;
          -khtml-opacity: 1 !important;
          color: black;
        }
        --paper-input-container-underline-disabled: {
          border-bottom: 2px solid #dddddd !important;
        }
        paper-input{
          --paper-input-container-label-floating:{
            font-size:20px;
            font-weight: 600;
            color: #999999;
          }
        }
      }

      .timestart{
        width:125px;
      }
      .timeend{
        width:125px;
      }
      .addtime{
        text-transform: none;
        margin-top: 20px;
        margin-bottom: 20px;
        color: rgb(6, 228, 194);
      }
      .circoutline{
        padding-right: 10px;
      }
      .alldayhidden{
        display:none;
      }
      .flex-center-justified {
         @apply(--layout-horizontal);
         @apply(--layout-center-justified);
      }

    </style>

  </template>
</dom-module>
