<dom-module id="my-app-spinner-style">
  <template>
    <style>
    /*  :host{
        paper-spinner.multi {
          --paper-spinner-layer-1-color: rgb(0,225,187);
          --paper-spinner-layer-2-color: orange;
          --paper-spinner-layer-3-color: #4ae0ba;
          --paper-spinner-layer-4-color: #bdbdbd;
          --paper-spinner-stroke-width: 5px;
        }
      }
      paper-dialog#spinnerHome  {
        position: fixed;
        top: 45% !important;
        left: 45% !important;
        padding: 0;
        margin: 0;
        right: auto !important;
        bottom: auto !important;

      }
      .core-overlay-backdrop {
        /*background: rgba(0,0,0.15);
        background-color:transparent;
      }*/
    </style>
</template>

</dom-module>
